GRUB_DEFAULT=0
GRUB_TIMEOUT=5
GRUB_CMDLINE_LINUX_DEFAULT="GRUB_TIMEOUT=3 quiet amd_iommu=on iommu=pt mem_sleep_default=deep amd_pstate=guided amdgpu.abmlevel=2 pcie_aspm=force nowatchdog nmi_watchdog=0"
GRUB_CMDLINE_LINUX=""
GRUB_TIMEOUT_STYLE=menu
