GRUB_DEFAULT=0
GRUB_TIMEOUT=0
GRUB_CMDLINE_LINUX_DEFAULT="quiet loglevel=3 rd.systemd.show_status=auto rd.udev.log_priority=3 vt.global_cursor_default=0 8250.nr_uarts=0  nowatchdog"
GRUB_CMDLINE_LINUX=""
GRUB_TIMEOUT_STYLE=hidden
