# ============ 敏感/隐私：绝不能进仓库 ============
.ssh/
.pki/
.gnupg/
.miyu/
.config/miyu/
.config/dae/secret/
.copilot/
.codex/
.netrc
.wget-hsts
*history*
*.token
*.secret
*.key

# ============ 缓存/状态/垃圾 ============
.cache/
.local/share/
.local/state/
.bash_history
.viminfo
.zsh_history
nohup.out
*.log
.TemporaryItems/
.Trash/

# ============ 大型/非必要应用配置 ============
.cargo/
.dotnet/
.config/Code/
.config/mozilla/
.config/zen/
.config/QQ/
.config/firefox/
.config/supertuxkart/
.config/go-musicfox/
.config/dconf/
.config/pulse/
.config/ibus/
.config/fcitx/
.config/pcmanfm/thumbnail/
.config/mpv/watch_later/
.vscode/
.vscode-oss/
.vscode-oss-shared/
.vscode-shared/

# ============ 系统/挂载相关 ============
.steampath
.steampid
.xonotic/
win11/
U/
Desktop/
Documents/
Downloads/
Music/
Pictures/
Public/
Videos/

# ============ 备份脚本产物 ============
.config/grub/

# ============ systemd 自动生成 ============
.config/systemd/user/timers.target.wants/

# ============ 补充 ============
.dotfiles/
run_win.sh
github-profile/
.vim/
